<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <th:block th:insert="layout/fragments/head :: headerFragment"></th:block>
</head>
<body>
<div class="content">
    <div th:replace="layout/fragments/nav :: navFragment"></div>
    <div class="container mt-3">
        <form enctype="multipart/form-data" method="post" th:object="${post_entity}" name="postRegist" action="/post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">에러</p>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input th:field="*{title}" type="text" class="form-control" id="title" value="">
                <div class="field-error" th:errors="*{title}">
                    제목 오류
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="content">내용</label>
                <textarea th:field="*{content}" class="form-control" id="content" rows="3" value=""></textarea>
                <div class="field-error" th:errors="*{content}">
                    내용 오류
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="imageName">썸네일</label>
                <input type="file" name="imageName" class="form-control-file" id="imageName" value="">
                <!-- 이미지 미리보기를 위한 공간 -->
                <div class="mt-2" id="previewContainer" style="display: none;">
                    <img id="imagePreview" src="#" alt="Image Preview" class="img-thumbnail" style="max-width: 100%; max-height: 500px;">
                </div>
                <div class="field-error" th:errors="*{imageName}">
                    이미지 오류
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/" class="btn btn-secondary">취소</a>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">
<!--    document.getElementById('imageName').addEventListener('change', function(event) {-->
<!--        var reader = new FileReader();-->
<!--        reader.onload = function(e) {-->
<!--            var imagePreview = document.getElementById('imagePreview');-->
<!--            var previewContainer = document.getElementById('previewContainer');-->
<!--            imagePreview.src = e.target.result;-->
<!--            previewContainer.style.display = 'block'; // 이미지 미리보기를 보여줍니다.-->
<!--        };-->
<!--        reader.readAsDataURL(event.target.files[0]);-->
<!--    });-->
</script>

<footer th:replace="layout/fragments/footer :: footerFragment"></footer>
</body>
</html>