<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style>
    .comment-meta {
        font-size: 0.8rem; /* 메타데이터의 글꼴 크기를 줄입니다. */
        color: #666; /* 메타데이터의 색상을 어둡게 설정합니다. */
    }

    .comment-author {
        font-weight: bold; /* 작성자 ID를 강조합니다. */
    }

    .comment-delete-icon {
        width: 20px; /* 삭제 아이콘의 크기를 설정합니다. */
        cursor: pointer; /* 마우스 오버 시 커서를 포인터로 변경합니다. */
    }
    </style>
</head>
<body>
    <div th:fragment="commentFragment(commentList)" class="comments-section mt-4">
        <h5>댓글</h5>
        <div class="comment" th:each="comment : ${commentList}">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="comment-meta d-flex justify-content-between">
                        <div>
                            <span class="comment-author" th:text="${comment.user.username}">작성자 ID</span>
                            -
                            <span class="comment-date" th:if="${not #strings.isEmpty(comment.createdAt)}"
                                  th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}">작성 시간</span>
                        </div>
                        <div th:if="${not #strings.isEmpty(user_id)}">
                            <a th:href="|/post/${id}/comment/${comment.id}/delete|" href="">
                                <img src="/icon/icon_comment_delete.svg" alt="삭제" class="comment-delete-icon"/>
                            </a>
                        </div>
                    </div>
                    <p class="card-text mt-2" th:text="${comment.content}">댓글 내용이 여기에 표시됩니다.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>