<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <th:block th:insert="layout/fragments/head :: headerFragment"></th:block>
</head>
<body>
    <div class="content">
        <div th:replace="layout/fragments/nav :: navFragment"></div>
        <h1>login</h1>
        <form action="/loginAction" method="POST" name="loginForm">
            <input id="username" type="text" name="username" placeholder="id"/>
            <input id="password" type="password" name="password" placeholder="password"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="login"/>
        </form>
    </div>
    <footer th:replace="layout/fragments/footer :: footerFragment"></footer>
</body>
</html>