<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <th:block th:insert="layout/fragments/head :: headerFragment"></th:block>
</head>
<body>
    <div class="content">
        <div th:replace="layout/fragments/nav :: navFragment"></div>
        <form name="logout" action="/logout" method="POST">
            <button>logout</button>
        </form>
    </div>
    <footer th:replace="layout/fragments/footer :: footerFragment"></footer>
</body>
</html>