<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <th:block th:insert="layout/fragments/head :: headerFragment"></th:block>
</head>
<body>
    <div class="content">
        <div th:replace="layout/fragments/nav :: navFragment"></div>
        <!-- 전역 오류 메시지 표시 -->
        <div th:if="${globalErrors != null}" class="alert alert-danger">
            <p th:each="err : ${globalErrors}" th:text="${err.value}">Global Error</p>
        </div>
        <div class="mt-3">
            <div class="row">
                <div class="col-md-2">
                    <img th:if="${not #strings.isEmpty(post_entity.imageName)}" class="card-img-top p-2" th:src="|/images/${post_entity.imageName}|" alt="Post Image">
                </div>
                <div class="col-md-8">
                    <h1 th:text="${post_entity.title}">Post Title</h1>
                    <p th:text="${post_entity.content}">Post content goes here...</p>
                </div>
            </div>
        </div>
        <div th:insert="pages/comment::commentFragment(${commentList})"></div>
        <div th:insert="pages/comment/commentEdit::commentEditFragment"></div>
    </div>
    <a th:href="|/post/${post_entity.id}/edit|" href="/" class="btn btn-primary mt-3">수정</a>
    <a href="/" class="btn btn-secondary mt-3">목록</a>
    <footer th:replace="layout/fragments/footer :: footerFragment"></footer>
</body>
</html>