<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div class="content">
    <h1 th:utext="${title}"></h1>
    <p th:utext="${content}"></p>
    <p th:utext="${detail1}"></p>
    <p th:utext="${detail2}"></p>
    <p th:utext="${detail3}"></p>
    <p th:utext="${detail4}"></p>
    <p th:utext="${detail5}"></p>
    <p th:utext="${detail6}"></p>
    <p th:utext="${detail7}"></p>
    <p th:utext="${detail8}"></p>
</div>
</body>
</html>