<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div class="content">
    <h1 th:utext="${title}"></h1>
    <p th:utext="${purpose}"></p>
    <p th:utext="${definition}"></p>
    <p th:utext="${terms3}"></p>
    <p th:utext="${terms4}"></p>
    <p th:utext="${terms5}"></p>
    <p th:utext="${terms6}"></p>
    <p th:utext="${terms7}"></p>
    <p th:utext="${terms8}"></p>
    <p th:utext="${terms9}"></p>
    <p th:utext="${terms10}"></p>
</div>
</body>
</html>