<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <div th:fragment="commentEditFragment" class="comment-form mt-4">
        <h5>댓글 작성</h5>
        <form th:action="|/post/${id}/comments|" method="post">
            <div class="form-group">
                <textarea class="form-control" name="commentContent" rows="3" placeholder="댓글을 입력하세요..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
    </div>
</body>
</html>